/* CSS Reset  */
  /* ---------------------------------------------------------------------------- */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* ---------------------------------------------------------------------------- */


/* Colors */
:root {
--moderate-violet: hsl(263, 55%, 52%);
--very-dark-grayish-blue: hsl(217, 19%, 35%);
--very-dark-blackish-blue: hsl(219, 29%, 14%);
--white: hsl(0, 0%, 100%);
--light-gray: hsl(0, 0%, 81%);
--light-grayish-blue: hsl(210, 46%, 95%);
}

/* daniel-clifford */
.testimonial-daniel-clifford{
    background-color: var(--moderate-violet);
    color: var(--white);
}

/* jonatahn-walters */
.testimonial-jonatahn-walters{
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}

/* testimonial-jeanette-harmon */
.testimonial-jeanette-harmon{
    background-color: var(--white);
}

/* testimonial-patrick-abrams */
.testimonial-patrick-abrams{
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
}

/* testimonial-kira-whittle */
.testimonial-kira-whittle{
    background-color: var(--white);
}

body { 
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
}

h1{
    font-weight: 700;
}

.flex{
    display: flex;
    gap: 1rem;
}

.profile-picture{
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.box-body{
    border: 2px solid red;
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
    height: 42rem;
}

main{
    display: grid;
    align-items: start;
    padding-block: 2rem;
    /* width: min(95%, 70rem); */
    max-width: 1440px;
    margin-inline: auto;
    grid-template-columns: repeat(4, 1fr);
}